@media (max-width: 350px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    /** HEADER **/
    .topbar {
        width: 100%;
        min-height: 100px;
        background-color: #ffffff;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    }
    .wrapper {
        min-width: 100%;
        margin: 0px;
        flex-direction: column;
        text-align: center;
    }
    img.logo {
        width: 90px;
        height: 89px;
        margin-top: 15px;
        margin-left: 15px;
    }
    .welcome {
        color: red;
    }
    .sidebar {
        display: none;
    }
    /*  Barra Azul  */
    div.infoBar {
        background: url('/arquivos/infobar-bg.jpg') #0772ca repeat-x;
        width: 100%;
        height: auto;
        line-height: 125px;
        color: #fff;
        margin-bottom: 0px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    ul.float {
        width: 100%;
        flex-direction: column;
        background-color: red;
        text-align: center;
        align-items: center;
    }
    .infoBar li.seguro {
        padding-left: 0px;
    }
    .infobar li.sjuros {
        padding-left: 0px;
    }
    div#mainContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: red;
        align-items: center;
    }
    .destaqueNav .text {
        max-width: 100%;
        background-color: green;
        margin: 0 auto;
        padding: 0px;
        vertical-align: none;
        display: block;
    }
    div.destaqueNav {
        max-width: 100%;
        background-color: yellow;
        border: none;
        text-align: center;
    }
    .destaqueNav h3 {
        margin-bottom: 10px;
        text-align: left;
        line-height: 26px;
        color: rgb(0, 0, 0);
        font-family: 'gotham_htf_bold', sans-serif;
        font-size: 20px;
    }
    div#content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    p {
        text-align: center;
    }
    
    .destaqueNav a{
        margin: 0 auto;
        max-width: 100%;
        border: none;    
        
    }
    
    div.dpLinks{
        max-width: 100%;
        height: auto;
        background-color:         
    }
    
    div.destaqueNav.bottom .text{
        max-width: 100%;
        height: 250px;
        padding: 0px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        vertical-align: none;
        padding-top: 25px;
    }
    
    div.destaqueNav.bottom .text h3{
        text-align: center;
    }
    
    
    
}